@charset "ISO-8859-1";

html{
    height: 100%;
}

body{
    background-color:#2F3035;
    background-image: url(images/project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{

    height: 118px;
    text-align: center;

}
main {

    height: 400px;
    text-align: center;
    padding-top:80px;
    padding-left: 240px;
    padding-right: 240px;
}


h3{
    font-size: 54px;
    color:cornflowerblue
    
}


p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

